th.el-table__cell{
  font-weight: 900;
}

.el-table__row {
  height: 120px;
}

.el-main {
  padding: 0 !important;
}

.el-menu {
  border-right: none !important;
}

.el-menu-item.is-active {
  background-color: aliceblue;
}

.el-button {
  padding: 20px !important;
  font-size: 16px !important;
}

.el-collapse-item__header {
  border: none !important;
}

.el-collapse {
  border: none !important;
}

#smiles-card-ref .el-collapse-item__content {
  overflow-y: auto;
}

.el-dialog {
  margin-top: 30vh !important;
}